<center><p>Rechnungen mit <b>1 Exemplar</b>: {{ qty_one }}<br>Rechnungen mit <b>>1 Exemplaren</b>: {{ qty_multi }}</p></center>
<table style="width: 100%;">
    <thead>
    <tr>
        <th>Abo</th>
        <th>Inhaber</th>
        <th style="text-align: center;">Anz. Exemplare</th>
        <th>Rechnung</th>
        <th>Versand</th>
    </tr>
    </thead>
    <tbody>
{% for abo in abos %}
    <tr>
        <td><a href="/desk#Form/mp Abo/{{ abo.abo }}">{{ abo.abo }}</a></td>
        <td><a href="/desk#Form/Customer/{{ abo.invoice_recipient }}">{{ abo.recipient }}</a></td>
        <td style="text-align: center;">{{ abo.magazines_qty_total }}</td>
        <td><a href="/desk#Form/Sales Invoice/{{ abo.sinv }}">{{ abo.sinv }}</a></td>
        {% if abo.send_as_mail %}
            <td>Per Mail an {{ abo.mail }}</td>
        {% else %}
            <td>Als PDF/Post</td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>
