<p>
    Guten Tag<br>
    Ihr persönliches Konto für den Zugang zu www.mietrecht.ch wurde erstellt.<br><br>
    Ihr Benutzername ist Ihre E-Mail-Adresse: {{ user }}.<br><br>
    Um Ihr Konto zu aktivieren, klicken Sie auf den untenstehenden Link und wählen Sie ein sicheres Passwort.
</p>
<p><a class="btn" style="background-color: #0D622A !important; border-color: #0D622A !important; color: white !important;" href="{{ link }}">Konto aktivieren / Passwort festlegen</a></p>
<p>
    Der Button funktioniert nicht? Kopieren Sie die folgende URL und fügen Sie sie in Ihren Browser ein:
    {{ link }}
</p>
<p>
    www.mietrecht.ch – mietrechtspraxis | mp
</p>
